asn1crypto==1.1.0
certifi==2019.9.11
cffi==1.13.0
chardet==3.0.4
colorama==0.4.1
cryptography==2.7
DateTime==4.3
future==0.18.0
gitdb2==2.0.6
GitPython==3.0.3
idna==2.8
pbr==5.4.3
python-telegram-bot==12.2.0
pytz==2019.3
PyYAML==5.1.2
requests==2.22.0
simplejson==3.16.0
six==1.12.0
smmap2==2.0.5
snowballstemmer==2.0.0
stevedore==1.31.0
telegram==0.0.1
tornado==6.0.3
urllib3==1.25.6
zope.interface==4.6.0